body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(225, 100%, 94%);
  overflow: hidden;
}
.attribution {
  font-size: 11px; text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}
main{
  background-color: white;
  width: 22rem;
  height: 33rem;
  display: grid;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}
.illustration-hero{
  width: 22rem;
  border-radius: 15px 15px 0px 0px;
}
h1{
  font-family: Red Hat Display;
  color: hsl(223, 47%, 23%);
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0px;
}
.plan-benefits{
  font-family: Red Hat Display;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 14px;
  margin: 0px 20px 10px;
}
.annual-plan{
  background-color: hsl(225, 100%, 98%);
  width: 16rem;
  height: 68px;
  font-family: Red Hat Display;
  color:  hsl(224, 23%, 55%);
  font-size: 11px;
  margin: 10px 48px;
  text-align: left;
  border-radius: 10px;
}
.plan-name{
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  margin: 20px 0px 0px;
  font-size: 1rem;
}
.icon-music{
  float: left;
  border-radius: 1.5rem;
  margin: 10px;
}
.change-button{
  background: none;
  color: hsl(245, 75%, 52%);
  font-family: Red Hat Display;
  font-weight: 900;
  font-size: 11px;
  border: none;
  float: right;
  margin: -10px 10px 30px;
  cursor: pointer;
}
.change-button:active{
  color: hsl(224, 23%, 55%);

}
.payment-button{
  background-color: hsl(245, 75%, 52%);
  font-family: Red Hat Display;
  color: white;
  border: none;
  width: 16rem;
  border-radius: 10px;
  cursor: pointer;
  margin : 0px 48px;
  box-shadow: 5px 5px 10px hsl(245, 26%, 46%);
}
.payment-button:active{
  background-color: hsl(245, 62%, 59%);
}
.cancel-button{
  background: none;
  border: none;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  cursor: pointer;
  font-family: Red Hat Display;
  height: 25px;
  width: 140px;
  margin: 20px 106px 0px;
}
.cancel-button:active{
  color: hsl(223, 47%, 23%);
}
.background-pattern{
  position: absolute;
  top: -20%;
  z-index: -1;
}